<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <link rel='stylesheet' href="/style.css" type="text/css">
</head>
  <title>hogwarts</title>
<body>
  <nav>
 <ul>
         <div class="AllLayoutButtons">
   <li>
            <div class="AllButton">
     <a href=/student>All Students</a>
            </div>
   </li>
   <li>
            <div class="CreateButton">

     <a href=/student/new>Create Student</a>
             </div>
   </li>
   <li>
            <div class="HomeButton">
     <a href=/>Home</a>
            </div>
   </li>
         </div>
 </ul>

</nav>
  <%= yield %>
</body>

</html>
